body {
    background-color: #f8f9fa;
}
.navbar-inverse {
    background-color: #39648f;
    border-color: #3b73ab;
}
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav .nav-link {
    color: #bbd247;
}
.navbar-inverse .navbar-nav .nav-link:hover {
    color: #f5a70b;
}
.jumbotron {
    background-color: #ffffff;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.container {
    margin-top: 50px;
}
.card-img-top {
    object-fit: cover;
    height: 200px;
}
.notification {
position: fixed;
top: 20px;
right: 20px;
background-color: #4caf50; /* Màu xanh lá cây */
color: white;
padding: 15px;
border-radius: 5px;
z-index: 1000;
transition: opacity 0.5s;
}